body {
  max-width: 36em;
  margin: 0 auto;
}

img, video {
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
}

pre {
  border-radius: 5px;
  background-color: #efefef;
  padding: 10px;
}

.brainmade {
  margin-top: 50px;
  width: 100px;
  border-radius: 0px;
}